extends layout

block content
    h2.title #{title}

    .form-group
        button.btn.btn-info.btn-sm(onclick="history.back(-1)")
            i.fas.fa-arrow-left
            span  Back

    form.edit(action='/tags/add' method="POST")
        .form-group
            label(for="name") Name
            input.form-control(type="text" name="name")
        input.btn.btn-success(type="submit" value=title)
