extends layout

include mixins/_resetForm

block content
  h2.title #{title}
    .form-group
        button.btn.btn-info.btn-sm(onclick="history.back(-1)")
            i.fas.fa-arrow-left
            span  Back
    .form-box
        +resetForm()