.container-fluid {
  margin-top: 1rem;
  min-height: calc(100vh - 9.6rem);
}

.users, .vets, .tags, .contact {
  position: relative;
}

img {
  max-width: 5rem;
  max-height: 5rem;
}

.tag {
  background: #5F9EA0;
  float: left;
  margin-right:  0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #274142;
}
.tag.active-tag {
  background: #b9d4d6;
}

.action-button {
  margin: 0 0.3rem;
  cursor: pointer;
}
.action-button .fa-edit {
  color: rgb(68, 156, 238);
}
.action-button .fa-trash {
  color: rgb(255, 100, 100);
}

span.add-button {
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  height: 3rem;
}