mixin forgotPasswordForm()
  form.form(action="/account/forgot" method="POST")
    h2 Forgot your password?
    .form-group
      input.form-control(type="email" name="email" placeholder="Email")
    button.btn.btn-primary(type="submit")= 'Send request'
    